In [217]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

FileNotFoundError: [WinError 3] Системе не удается найти указанный путь: '../input'

In [218]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [219]:
len(data)

1890

# Предобработка датасета

In [220]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [221]:
print(data[data.budget==data.budget.max()].original_title)
answer_ls.append(3)

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [222]:
print(data[data.runtime==data.runtime.max()].original_title)
answer_ls.append(2)

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [223]:
print(data[data.runtime==data.runtime.min()].original_title)
answer_ls.append(3)

769    Winnie the Pooh
Name: original_title, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [224]:
print(data.runtime.mean())
answer_ls.append(2)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [225]:
print(data.runtime.median())
answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [226]:
data['pribil'] = data.revenue - data.budget
print(data[data.pribil==data.pribil.max()].original_title)
answer_ls.append(5)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [227]:
print(data[data.pribil==data.pribil.min()].original_title)
answer_ls.append(2)

491    The Warrior's Way
Name: original_title, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [228]:
GoodFilms=data[data.pribil>0]
print(len(GoodFilms))
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [229]:
Good2008=data[data.release_year==2008]
print(Good2008[Good2008.pribil==Good2008.pribil.max()].original_title)
answer_ls.append(3)

600    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [230]:
Bed2012=data[data.release_year>=2012]
Bed2012_14=Bed2012[Bed2012.release_year<=2014]
print(Bed2012_14[Bed2012_14.pribil==Bed2012_14.pribil.min()].original_title)
answer_ls.append(4)

1246    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [231]:
genre=data['genres'].value_counts()
print(genre)
answer_ls.append(3)

Comedy                                       141
Drama                                        102
Comedy|Romance                                60
Drama|Romance                                 45
Horror|Thriller                               35
                                            ...
Comedy|Adventure|Fantasy|Animation|Family      1
Mystery|Crime|Action|Thriller|Drama            1
Comedy|Crime|Thriller                          1
Fantasy|Action|Thriller|Science Fiction        1
Science Fiction|Horror|Thriller                1
Name: genres, Length: 653, dtype: int64

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [232]:
GoodFilms=data[data.pribil>0]
genreGoodFilms=GoodFilms['genres'].value_counts()
print(genreGoodFilms)
answer_ls.append(1)

Comedy                                    121
Drama                                      70
Comedy|Romance                             52
Drama|Romance                              38
Horror|Thriller                            31
                                         ...
War                                         1
Action|Adventure|Comedy|Family|Fantasy      1
Science Fiction|Adventure|Mystery           1
Comedy|Romance|Family                       1
Thriller|Action                             1
Name: genres, Length: 548, dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [233]:
howMutch=data['director'].value_counts()
print(howMutch)
answer_ls.append(3)

Steven Soderbergh               13
Clint Eastwood                  12
Ridley Scott                    12
Steven Spielberg                10
Shawn Levy                      10
                                ..
Jon Amiel                        1
Richard Shepard                  1
Nathan Greno|Byron Howard        1
Roland JoffÃ©                    1
Steve Martino|Mike Thurmeier     1
Name: director, Length: 958, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [234]:
howMutchGood=GoodFilms['director'].value_counts()
print(howMutchGood)
answer_ls.append(1)

Ridley Scott                   12
Clint Eastwood                 10
Steven Soderbergh              10
Steven Spielberg               10
Shawn Levy                      9
                               ..
David Wain                      1
Lee Toland Krieger              1
Aleksander Bach                 1
Simon J. Smith|Eric Darnell     1
Colin Strause|Greg Strause      1
Name: director, Length: 774, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [235]:
print(data.groupby(['director'])['pribil'].sum().sort_values(ascending=False))
answer_ls.append()

director
Peter Jackson            5202593685
David Yates              3379295625
Christopher Nolan        3162548502
J.J. Abrams              2839169916
Michael Bay              2760938960
                            ...
David Bowers|Sam Fell     -84540684
Peter Hyams               -86956545
Ron Underwood             -92896027
James L. Brooks           -96289726
Sngmoo Lee               -413912431
Name: pribil, Length: 958, dtype: int64

TypeError: append() takes exactly one argument (0 given)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [236]:
actors = set(data.cast.str.split('|').sum())

pd.Series({x:data[data.cast.str.contains(x)].fin_res.sum() for x in actors}).sort_values(ascending = False)
answer_ls.append(1)

AttributeError: 'DataFrame' object has no attribute 'fin_res'

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [237]:
Bed12=data[data.release_year==2012]
print(Bed12[Bed12.pribil==Bed12.pribil.min()].cast)
answer_ls.append(3)

1008    Kirsten Dunst|Jim Sturgess|Timothy Spall|James...
Name: cast, dtype: object

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [238]:
MeanProfit=data.pribil.mean()
print(data[data.pribil>MeanProfit].cast.value_counts())
answer_ls.append(2)

Jennifer Lawrence|Josh Hutcherson|Liam Hemsworth|Woody Harrelson|Elizabeth Banks        3
Elijah Wood|Ian McKellen|Viggo Mortensen|Liv Tyler|Orlando Bloom                        3
Ioan Gruffudd|Jessica Alba|Chris Evans|Michael Chiklis|Julian McMahon                   2
Mike Myers|Eddie Murphy|Cameron Diaz|Julie Andrews|Antonio Banderas                     2
Martin Freeman|Ian McKellen|Richard Armitage|Ken Stott|Graham McTavish                  2
                                                                                       ..
Will Smith|Rosario Dawson|Sarah Jane Morris|Woody Harrelson|Michael Ealy                1
Noah Ringer|Nicola Peltz|Jackson Rathbone|Dev Patel|Shaun Toub                          1
Ben Stiller|Robert De Niro|Teri Polo|Blythe Danner|Owen Wilson                          1
Luke Evans|Sarah Gadon|Dominic Cooper|Art Parkinson|Charles Dance                       1
Chris Hemsworth|Natalie Portman|Tom Hiddleston|Anthony Hopkins|Christopher Eccleston    1
Name: cast, Length: 548, dtype: int64

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [239]:
Cage = data[data.cast.str.contains('Nicolas Cage')] 
CageFilms=Cage['genres'].value_counts()
print(CageFilms) 
answer_ls.append(2)

Action|Crime|Thriller                             2
Crime|Drama|Thriller                              2
Drama|History|Thriller                            1
Fantasy|Adventure|Animation|Comedy|Family         1
Adventure|Fantasy|Action                          1
Adventure|Action|Thriller|Mystery                 1
Thriller|Action|Fantasy|Horror                    1
Comedy|Drama|Romance|Fantasy                      1
Drama|Action|History|War                          1
Adventure|Animation|Comedy|Family|Fantasy         1
Action|Science Fiction|Thriller                   1
Action|Drama|Thriller                             1
Fantasy|Adventure|Action|Comedy|Drama             1
Thriller|Crime                                    1
Fantasy|Thriller|Action|Crime                     1
Action|Adventure|Drama|Mystery|Science Fiction    1
Animation|Action|Family|Science Fiction           1
Thriller|Action|Science Fiction                   1
Drama|Crime                                       1
Action|Adventure|Mystery|Thriller                 1
Action|Crime                                      1
Comedy|Drama                                      1
Action|Crime|Drama|Thriller                       1
Comedy|Crime|Drama                                1
Action|Fantasy|Thriller                           1
Name: genres, dtype: int64

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [240]:
print(data['production_companies'])
answer_ls.append(1)

0       Universal Studios|Amblin Entertainment|Legenda...
1       Village Roadshow Pictures|Kennedy Miller Produ...
2       Summit Entertainment|Mandeville Films|Red Wago...
3               Lucasfilm|Truenorth Productions|Bad Robot
4       Universal Pictures|Original Film|Media Rights ...
                              ...
1885    Twentieth Century Fox Film Corporation|Donners...
1886                                      New Line Cinema
1887    Universal Pictures|Capella International|KC Me...
1888    Laurence Mark Productions|Columbia Pictures Co...
1889                                Warner Bros. Pictures
Name: production_companies, Length: 1890, dtype: object

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [241]:
Film15=data[data.release_year==2015]
print(Film15.production_companies.value_counts())
answer_ls.append(1)

New Line Cinema|Universal Pictures|Legendary Pictures|Cube Vision|Broken Chair Flickz                                       1
Twentieth Century Fox Film Corporation|Scott Free Productions|Mid Atlantic Films|International Traders|TSG Entertainment    1
Walt Disney Pictures|Pixar Animation Studios|Walt Disney Studios Motion Pictures                                            1
New Line Cinema|Village Roadshow Pictures|Warner Bros.|Flynn Picture Company                                                1
Groundswell Productions|Inimitable Pictures|ShivHans Pictures                                                               1
                                                                                                                           ..
Summit Entertainment|Mandeville Films|Red Wagon Entertainment|NeoReel                                                       1
DreamWorks SKG|Amblin Entertainment|Studio Babelsberg|Fox 2000 Pictures|Marc Platt Productions                              1
Paramount Pictures|Nickelodeon Movies|Nickelodeon Animation Studios|United Plankton Pictures|Disruption Entertainment       1
Fox 2000 Pictures                                                                                                           1
Warner Bros.|Moving Picture Company (MPC)|Berlanti Productions|RatPac-Dune Entertainment                                    1
Name: production_companies, Length: 118, dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [242]:
Comedi=data[data.genres.str.contains('Comedy')]
print(Comedi[Comedi.pribil==Comedi.pribil.max()].production_companies)
answer_ls.append(2)

8    Universal Pictures|Illumination Entertainment
Name: production_companies, dtype: object

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [243]:
Film122=data[data.release_year==2012]
print(Film122[Film122.revenue==Film122.revenue.max()].production_companies)
answer_ls.append(1)

971    Marvel Studios
Name: production_companies, dtype: object

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [244]:
Par=data[data.production_companies.str.contains('Paramount Pictures')]
print(Par[Par.pribil==Par.pribil.min()].original_title)
answer_ls.append(1)

926    K-19: The Widowmaker
Name: original_title, dtype: object

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [245]:
print(data.groupby(['release_year'])['pribil'].sum())
answer_ls.append(5)

release_year
2000     6101399805
2001     7950614865
2002     9002361487
2003     9228823312
2004     9634180720
2005     8981925558
2006     8691077320
2007    11565911801
2008    11663881990
2009    13423744372
2010    13117292530
2011    14730241341
2012    16077001687
2013    15243179791
2014    16397812953
2015    18668572378
Name: pribil, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [246]:
Bros=data[data.production_companies.str.contains('Warner Bros')]
print(Bros.groupby(['release_year'])['pribil'].sum())
answer_ls.append(1)

release_year
2000     452631386
2001    1343545668
2002    1022709901
2003    1855493377
2004    1631933725
2005    1551980298
2006     620170743
2007    2201675217
2008    2134595031
2009    1822454136
2010    1974712985
2011    1871393682
2012    1258020056
2013    1636453400
2014    2295464519
2015     870368348
Name: pribil, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [247]:
Yanv=data[data.release_date.str.contains('/1/')]
Jul=data[data.release_date.str.contains('/6/')]
Dec=data[data.release_date.str.contains('/12/')]
Sept=data[data.release_date.str.contains('/9/')]
May=data[data.release_date.str.contains('/5/')]
print(len(Yanv))
print(len(Jul))
print(len(Dec))
print(len(Sept))
print(len(May))
answer_ls.append(3)

67
62
71
67
56

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [248]:
Jun1=data[data.release_date.str.contains('/6/')]
Jul1=data[data.release_date.str.contains('/7/')]
Augst1=data[data.release_date.str.contains('/8/')]
print(len(Jun1)+len(Jul1)+len(Augst1))
answer_ls.append(1)

205

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [249]:
Decabr=data[data.release_date.str.contains('/12/')]
Yanv=data[data.release_date.str.contains('/1/')]
Feb=data[data.release_date.str.contains('/2/')]
DATA=pd.concat([Decabr, Yanv,Feb])
print(DATA.director.value_counts())
answer_ls.append(4)

Louis Leterrier                   4
Ridley Scott                      3
Ken Kwapis                        3
Baltasar KormÃ¡kur                2
Paul W.S. Anderson                2
                                 ..
David Moreau|Xavier Palud         1
Mort Nathan                       1
Brian Helgeland                   1
Mark Waters                       1
Stephen St. Leger|James Mather    1
Name: director, Length: 167, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [250]:
Yanv=data[data.release_date.str.contains('/1/')]
Jul=data[data.release_date.str.contains('/6/')]
Dec=data[data.release_date.str.contains('/12/')]
Sept=data[data.release_date.str.contains('/9/')]
May=data[data.release_date.str.contains('/5/')]
print(Yanv.pribil.max())
print(Jul.pribil.max())
print(Dec.pribil.max())
print(Sept.pribil.max())
print(May.pribil.max())
answer_ls.append(4)

1316249360
628679850
616210692
1363528810
745921036

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [251]:
word = data['original_title'].str.lower()
print(str(word[:1]))
answer_ls.append(1)

0    jurassic world
Name: original_title, dtype: object

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [252]:
answer_ls.append(1)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [253]:
word = data['original_title'].str.lower()
words = set(word.str.split().sum())
print(len(words))
answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [254]:
answer_ls.append(3)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [255]:
J = data[data.cast.str.contains('Johnny Depp')] 
JH= J[J.cast.str.contains('Helena Bonham Carter')] 

H = data[data.cast.str.contains('Hugh Jackman')] 
HI= H[H.cast.str.contains('Ian McKellen')] 

V = data[data.cast.str.contains('Vin Diesel ')] 
VP= V[V.cast.str.contains('Paul Walker')] 

A = data[data.cast.str.contains('Adam Sandler')] 
AK= A[A.cast.str.contains('Kevin James')] 

D = data[data.cast.str.contains('Daniel Radcliffe')] 
DR= D[D.cast.str.contains('Rupert Grint')] 
print(len(JH))
print(len(HI))
print(len(VP))
print(len(AK))
print(len(DR))
answer_ls.append(5)

6
5
0
5
8

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [256]:
data['profit_value'] = data['revenue'] - data['budget']
directors = ['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']
calculated_data = []
for director in directors:
    films = data[data['director'].str.contains(director)]
    positive_profit = len(films[films['profit_value'] > films['budget']])
    positive_percent = (positive_profit / len(films)) * 100
    calculated_data.append([director, positive_percent])
frame = pd.DataFrame(calculated_data)
# вывод ответа
print(frame[0][frame[1].idxmax()])
# вывод данных для визуальной проверки
print(frame)
answer_ls.append(4)

Christopher Nolan
                   0           1
0  Quentin Tarantino   85.714286
1  Steven Soderbergh   61.538462
2   Robert Rodriguez   45.454545
3  Christopher Nolan  100.000000
4     Clint Eastwood   75.000000

# Submission

In [257]:
len(answer_ls)

34

In [258]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       3
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       3
9   10       4
10  11       3
11  12       1
12  13       3
13  14       1
14  15       3
15  16       2
16  17       2
17  18       1
18  19       1
19  20       2
20  21       1
21  22       1
22  23       5
23  24       1
24  25       3
25  26       1
26  27       4
27  28       4
28  29       1
29  30       1
30  31       3
31  32       3
32  33       5
33  34       4